/* Imports the font that is used on this page. */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);


/* This section sets the defaults for the page, but you may never see changes here if they are overwritten by the div elements below.  */
html, body {
	margin: 0;  /* Margin is the amount of space between the border of an element, and the elements outside it. */
	padding: 0; /* Padding is the amount of space between the border of an element, and the elements inside it. */
}

body{
	font: 130%/1.3 TrebuchetMS,Arial,sans-serif;  /* Default fonts */
	text-align: left; /* Alignment of the text */
	color: black; /* Main text color */
	background: white; /* Main text background color */
	padding-bottom: 20px; /* You can set padding or margin for one side of an element at a time */
}

a {                  /* A stands for link, so this section is setting the default characteristics of links. */
	color: #48D1CC;
	text-decoration: none;
}

h1 {		     /* This styles the header at the top of the page */
	font: bold 2.1em "Courier New", Courier, monospace;
	text-align: left;
	color: white;
}

h2 {		     /* This styles the headers within the page */
	font: bold 1.1em "Trebuchet MS", Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}


/* This section alters the appearance of all divs with the class "section", which is all of the divs in our html file.  We can use it to specify style elements that we want to be the same accross divs. */
div.section {
	padding: 1em;
	margin-bottom: 0;
	text-align: justify;

}

/* If we want the divs with ids plan and more to look the same, we can put them together */
#plan, #more {
	background:#FFA07A;
	color: white;
	font: 'Source Sans Pro',Arial, Sans-Serif;
	background-image: none;  /* replace none with url('image-url') to set a background image  */
}

/* You can alter the links within a div with the following syntax */
#plan a {
	color: #FF69B4;
}

/* This alters the appearance of the div with id="signup". */
#poem {
	height: 110px;
	background: white;
	text-align: center;
}

/* This alters the appearance of the div with id="whoweare" */
#whoweare {
	background: white;
	color: black; 
}


